.projects {
  background-color: #fff;
  padding: 80px 20px;
  user-select: none;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.projects h2{
  font-size: 2.5rem;
}
.projects h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #003f58; 
  margin: 10px auto 0;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.project-card img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  user-select: none;
}

.project-card h3 {
  user-select: none;
  color: #004e64;
  text-align: center;
  user-select: none;
}

.project-card p {
  user-select: none;
  color: #333;
  text-align: center;
  user-select: none;
}
